[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

python-dateutil = "*"
python-frontmatter = "*"
requests = "*"
pick = "*"
pytz = "*"
titlecase = "*"

[requires]

python_version = "3"
