[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

python-dateutil = "*"
python-frontmatter = "*"
requests = "*"
pick = "<2"
pytz = "*"
pyyaml = "*"
titlecase = "*"
lxml = "*"
jinja2 = "*"

[requires]

python_version = "3"
